.info-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.info-container p {
  margin: 8px 0;
}

.nombre {
  font-size: 1.5em;
  color: #333;
  font-weight: bold;
}

.curso {
  font-size: 1.2em;
  color: #555;
}

.edad {
  font-size: 1.2em;
  color: #555;
}

.promedio {
  font-size: 1.2em;
  color: #4CAF50; /* Color verde para el promedio */
}

